qiskit==1.4.2
qiskit-aer==0.15.1
qiskit-ibm-runtime==0.36.1
matplotlib==3.9.4
numpy==2.2.4
scipy==1.15.2
jupyter==1.1.1
notebook==7.3.3
ipykernel==6.29.5
ipywidgets==8.1.5
pylatexenc==2.10
seaborn==0.13.2
pandas==2.2.3
